<div id="searchHolder">
  <input id="searchBox" type="text" disabled="disabled" />
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="chart-wrapper">
        <div class="chart-title">
          Quarterly distribution by referring doctor
        </div>
        <div class="chart-stage" id="quarterlyTimeline"></div>

        <div class="chart-notes">
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Percentage of Surgical Patients
        </div>
        <div class="chart-stage" id="percSurgical"></div>
        </div>
        <div class="chart-notes">
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Total number of patients
        </div>
        <div class="chart-stage hero" id="totalNumber"></div>
        <div class="chart-notes"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="chart-wrapper">
        <div class="chart-title">
          Distribution of Insurance Providers
        </div>
        <div class="chart-stage" id="percInsurance"></div>

        <div class="chart-notes">
        </div>
      </div>
    </div>
  </div>
</div>
