div.mainBox{
  font-size:1em;
  height:calc(100% - 2.5em - 32px);
  width:100%;
  padding:32px;
  -webkit-transition: margin-top 1s ease-in, padding-left 1s ease-in;
  transition: margin-top 1s ease-in, padding-left 1s ease-in;
}
.header .searchyBox{
  float:left;
  max-width:35%;
  width:400px;
  margin-left:32px;
  position:relative;
}
.searchyBox input{
  width:100%;
  height:2em;
  padding-top:0.2em;
  padding-bottom:0.2em;
  padding-left:42px;
  font-size:1.6em;
  background-color:#fff;
  border-radius:1em;
  border:1px Solid #6e5bba;
}
.searchyBox span.material-icons{
  position:absolute;
  top:12px;
  left:9px;
  height:32px;
  width:32px;
  color:#6e5bba;
}

.searchyBox .filterHolder{
  width:100%;
  overflow-y: hidden;
  padding-right:1em;
  margin-top:8px;
  float:none;
  clear:both;
}
.filterHolder .filter{
  display:inline-block;
  float:left;
  background-color:#6e5bba;
  padding-left:8px;
  padding-right:8px;
  padding-top:.2em;
  padding-bottom:.2em;
  color:white;
  font-size:1em;
  border-radius:.8em;
  margin-right:8px;

}
.filter .remover{
  padding-right:4px;
  cursor:pointer;
}

i.material-icons
{
  font-size:1.3em;
  vertical-align:bottom;
  padding-right:8px;
}
ul.menuLinks{
  display:block;
  float:left;
  list-style-type: none;
  margin-left:0;
  padding-left:0;
}

li.shelfLink{
  float:left;
  font-size:1.5em;
  padding-left:16px;
  padding-right:16px;
  padding-top:7px;
  height:100%;
  cursor:pointer;
}
li.shelfLink:first-child{
  padding-left:32px;
}
li.shelfLink:hover{
  text-decoration:underline;
  color:#6e5bba;
}
.profiler{
  float:right;
  color:#6e5bba;
  font-size:2em;
  cursor:pointer;
  position: relative;
  display: inline-block;
}
.logoutAlert{
  display:none;
  position:fixed;
  width:50%;
  height:300px;

  float:none;
  top:0;
  left:25%;

  z-index:99;
  border:solid 1px #eeeeee;
  background-color:#fff;

  padding:16px;
  text-align:center;

}
.logoutAlert .buttonBox{
  width:100%;
  float:none;
  clear:both;
}
.logoutAlert .buttonBox button{
  margin:15px;
  padding:8px;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right:0;
    z-index: 98;
}

/* Links inside the dropdown */
.dropdown-content span {
    color: #504a61;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size:0.7em;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.profiler:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.profiler:hover .material-icon {
    color: #ed6355;
}