div.mainBox{
  font-size:1em;
  height:calc(100% - 2.5em - 32px);
  width:100%;
  padding:32px;
  -webkit-transition: margin-top 1s ease-in, padding-left 1s ease-in;
  transition: margin-top 1s ease-in, padding-left 1s ease-in;
}
.header .searchyBox{
  float:left;
  max-width:35%;
  width:400px;
  margin-left:32px;
  position:relative;
}
.searchyBox input{
  width:100%;
  height:2em;
  padding-top:0.2em;
  padding-bottom:0.2em;
  padding-left:42px;
  font-size:1.6em;
  background-color:#fff;
  border-radius:1em;
  border:1px Solid #6e5bba;
}
.searchyBox span.material-icons{
  position:absolute;
  top:12px;
  left:9px;
  height:32px;
  width:32px;
  color:#6e5bba;
}

.searchyBox .filterHolder{
  width:100%;
  overflow-y: hidden;
  padding-right:1em;
  margin-top:8px;
  float:none;
  clear:both;
}
.filterHolder .filter{
  display:inline-block;
  float:left;
  background-color:#6e5bba;
  padding-left:8px;
  padding-right:8px;
  padding-top:.2em;
  padding-bottom:.2em;
  color:white;
  font-size:1em;
  border-radius:.8em;
  margin-right:8px;

}
.filter .remover{
  padding-right:4px;
  cursor:pointer;
}

i.material-icons
{
  font-size:1.3em;
  vertical-align:bottom;
  padding-right:8px;
}
ul.menuLinks{
  display:block;
  float:left;
  list-style-type: none;
  margin-left:0;
  padding-left:0;
}

li.shelfLink{
  float:left;
  font-size:1.5em;
  padding-left:16px;
  padding-right:16px;
  padding-top:7px;
  height:100%;
  cursor:pointer;
}
li.shelfLink:first-child{
  padding-left:32px;
}
li.shelfLink:hover{
  text-decoration:underline;
  color:#6e5bba;
}
.profiler{
  float:right;
  color:#6e5bba;
  font-size:2em;
  cursor:pointer;
  position: relative;
  display: inline-block;
}
.logoutAlert{
  display:none;
  position:fixed;
  width:50%;
  height:300px;

  float:none;
  top:0;
  left:25%;

  z-index:99;
  border:solid 1px #eeeeee;
  background-color:#fff;

  padding:16px;
  text-align:center;

}
.logoutAlert .buttonBox{
  width:100%;
  float:none;
  clear:both;
}
.logoutAlert .buttonBox button{
  margin:15px;
  padding:8px;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right:0;
    z-index: 98;
}

/* Links inside the dropdown */
.dropdown-content span {
    color: #504a61;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size:0.7em;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.profiler:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.profiler:hover .material-icon {
    color: #ed6355;
}

.fabNewPatient{
  position:fixed;
  bottom:32px;
  right:32px;
  z-index:99;
  height:64px;
  width:64px;
  border-radius:32px;
  background-color:tomato;
  cursor:pointer;
  box-shadow: 5px 5px rgba(100,100,100,0.3);
  line-height: 56px;
  vertical-align: center;
  text-align: center;
  font-size:3em;
  color:white;
}
.fabNewPatient:hover{
  box-shadow: 5px 5px rgba(100,100,100,0.5);
  background-color:#ff5034;
}
.fabNewPatient:active{
  box-shadow: 2px 2px rgba(100,100,100,0.3);
}
.overlay{
  background-color:rgba(0,0,0,0.6);
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  text-align:center;
  display:none;
}

.newPatientAdder{
  width:650px;
  height:85%;
  margin-top:5%;
  background-color:#efebe7;
  overflow-y:auto;
  margin-left:auto;
  margin-right:auto;
  padding:0;
  position:relative;
}

.closer{
  position:absolute;
  right:16px;
  top:16px;
  font-size:2em;
  color:white;
  cursor:pointer;
}
div.patient h2{
  margin:0;
  padding:16px;
  width:100%;
  text-align:left;
  background-color:#fda94f;
  font-size:1.2em;
  color:#fff;

}
div.patient{
}
div.inputForm div.controls{
  width:100%;
  padding:16px;
  padding-top:0;
}

div.patient div.line{
  width:100%;
  padding-left:16px;
  padding-right:16px;
  margin-top:16px;
  float:none;
  clear:both;
  overflow-y: hidden;
  font-size:1.2em;
}
div.inputForm div.line{
  padding:0;
  margin:0;
  margin-top:16px;
}
div.patient .line .col{
  width:50%;
  float:left;
  padding:0;
  margin:0;
}
div.formInput{
  width:100%;
  margin:0;
  padding:0;
  position:relative;
  transition:
    background 0.8s,
    color 0.8s,
    top 0.8s,
    height 0.8s;
}
.formInput input, .formInput textarea{
  width:calc(100% - 16px);
  padding:8px;
  padding-top:4px;
  padding-bottom:4px;
  font-size:1.2em;
  border:solid 2px #e7d2d1;
  position:relative;
  z-index:3;
  background-color:transparent;

  transition:
    background 0.8s,
    color 0.8s,
    top 0.8s,
    height 0.8s;
}
.formInput label{
  transition:
      background 0.8s,
      color 0.8s,
      top 0.8s,
      height 0.8s;
}
.formInput input[type='range']{
  padding-left:0;
  padding-right:0;
  border-style:none;  
}

.txtInput label{
  position:absolute;
  top:0;
  left:8px;
  padding:8px;
  padding-top:4px;
  padding-bottom:4px;
  height:100%;
  width:calc(100% - 16px);
  z-index:2;
  font-size:1.2em;
  color:#e7d2d1;
}

.txtInput input:focus{
  outline:none;
  border:solid 2px #fda94f;
  padding-top:calc(0.8em + 8px);
}
.txtInput input:focus + label{
  background-color:#fda94f;
  height:auto;
  font-size:0.8em;
  color:#fff;
}
.txtInput input:valid{
  outline:none;
  border:solid 2px #e7d2d1;
  padding-top:calc(0.8em + 8px);
}
.txtInput input:valid + label{
  background-color:#e7d2d1;
  height:auto;
  font-size:0.8em;
  color:#504a61;
}

.radioInput{
  border-radius: 5px;
}
.dateInput input{
  outline:none;
  border:solid 2px #e7d2d1;
  padding-top:calc(0.8em + 8px);  
}
.dateInput label{
  padding:8px;
  padding-top:4px;
  padding-bottom:4px;
  position:absolute;
  top:0;
  left:8px;
  background-color:#e7d2d1;
  height:auto;
  font-size:0.8em;
  color:#504a61;
  width:calc(100% - 16px);
}

.dateInput input:focus{
  outline:none;
  border:solid 2px #fda94f;
}

.dateInput input:focus + label{
  background-color:#fda94f;
  color:#fff;
}

div.radioLabel{
  width:calc(100% - 16px);
  height:calc(1.2em + 36px);
  overflow:hidden;
  margin-left:8px;
}

span.radioItem{
  display:block;
  float:left;
  width:50%;
  padding-top:8px;
  padding-bottom:8px;
  text-align: center;
  cursor:pointer;
  background-color:#e7d2d1;
  color:#504a61;
  font-size:1.2em;
  font-weight: bold;
  border:solid 2px #e7d2d1;
}
span.radioItem.first{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
span.radioItem.last{
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
span.radioItem.selected{
  background-color:#fda94f;
  color:#fff;
  border:inset 2px #fda94f;
}
span.radioItem:hover{
  background-color:#e0c9c8;
}
span.radioItem.selected:hover{
  background-color:#fda94f;
}

button.submitter{
  width:80%;
  display:block;
  float:none;

  margin-left:auto;
  margin-right:auto;
  background-color:#ed6355;
  font-size:1.5em;
  height:2em;
  border-radius:1em;
  color:white;
  cursor:pointer;
}

button.submitter:hover{
  background-color:#fda94f;
  color:#504a61;
}
button.submitter:focus{
  outline:none;
  background-color:#fda94f;
  color:#504a61;
}

span#newPtntValidator{
  float:none;
  color:#ed6355;
  font-style: italic;
  font-weight: bold;
  display:none;
}


span.editCard{
  display:none;
  float:right;
  cursor:pointer;
}
.patientCard:hover h2 span.editCard{
  display:block;
}

.warmWelcomeBox{
  width:60%;
  min-width:350px;
  margin-left:20%;
  overflow-y:hidden;
}
.warmLine{
  float:none;
  width:100%;
  min-height:150px;
  clear:both;
  padding-top:8px;
  margin-top:32px;
}
.warmLine .iconer{
  float:left;
  width:150px;
  height:150px;
}
.warmLine .descr{
  float:left;
  width:calc(100% - 150px);
  height:150px;
  padding-left:16px;
}
.newPtntFab{
  height:114px;
  width:114px;
  border-radius:57px;
  background-color:tomato;
  color:white;
  font-size:6em;
  line-height:100px;
  vertical-align:middle;
  text-align:center;
  margin-left:24px;
}
.iconer img{
  width:134px;
  margin-left:16px;
}