.patientsHolder{
  width:100%;
  overflow-y: hidden;
}
.patientFilterLinks{
  float:none;
  width:100%;
  color:#6e5bba;
  text-align:center;
}
.patientFilterLinks span{
  padding:16px;
  font-size:1.5em;
  cursor:pointer;
}
.patientFilterLinks span:hover{
  color:#ed6355;
}

.patientRow{
  clear:both;
  float:none;
  width:100%;
  padding:0;
  margin:0px;
  background-color:white;
  cursor: pointer;
  border-bottom:solid 1px #efebe7;
}
.patientRow.collapsed{
  height:64px;
}
.item{
  margin:8px;
  display:block;
  float:left;
  height:calc(100% - 16px);
  /*line-height:32px;*/
  vertical-align: middle;
  /*padding-left:8px;
  padding-right:8px;*/
}
.namesBlock{
  padding-left:8px;
  padding-right:8px;
  width:calc(50% - 80px);
}
.p_indicator{
  width:16px;
  height:100%;
  margin:0;
}
.ind_complete{
  background-color:#6e5bba;
}
.ind_incomplete{
  background-color:#ed6355;
}
.p_avatar{
  /*margin-left:8px;*/
  height:48px;
  width:48px;
  border-radius:24px;
  background-color:yellow;
}
.avatar_surg{
  background-color:#ed6355;
}
.avatar_nonsurg{
  background-color:#6e5bba;
}
.avatar_unknown{
  background-color:lightblue;
}
.p_name{
  display:block;
  font-weight:bold;
  font-size:1.2em;
  float:none;
  width:100%;
  height:50%;
  margin:0;
  padding:0px;
  clear:both;
  line-height:16px;

}
.p_refDoc{
  line-height:16px;
  display:block;
  /*font-size:0.8em;*/
  color:#555;
  clear:both;

}
.p_diag{
  text-align:left;
  width:calc(25% - 32px);
}
.p_date{
  text-align:right;
  width:calc(25% - 32px);
}
.dc-grid-item{
  margin:0;
  padding:0;
}

.leftBoxDGrid{
  width:calc(50% - 32px);
  float:left;
}

.rightBoxDGrid{
  width:calc(50% - 32px);
  float:right;
}