<div class="patient patientCard">
  <h2>||Name|| (||IsSurgical||)</h2>
  <div class="line">
    <strong>Seen on </strong><span><span>||DateString||</span>
  </div>
  <div class="line">
    <strong>Referred by: </strong><span>||DocName||</span>
  </div>
  <div class="line">
    <strong>Diagnosis: </strong><span>||Diagnosis||</span>
  </div>
  <div class="line">
    <strong>Insurance: </strong><span><span>||Insurance||</span>
  </div>
  <div class="line">
    <strong>Appropriateness: </strong><span><span>||AppScore|| out of 5</span>
  </div>
  <div class="line">
    <strong>Complexity: </strong><span><span>||ComplexScore|| out of 5</span>
  </div>
</div>