<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="clinicdash.com" name="copyright"/>
    <meta content="Manage your clinical referrals by using our dashboards to understand how much value your referral network is adding." name="description"/>
    <meta content="clinic, surgical clinic, referral, surgical referrals, referral base, surgical yield, dashboard, surgical dashboard, surgical referral dashboard" name="keywords"/>
    <meta content="index,follow" name="robots"/>
    <meta content="Manage your clinic referrals" name="DC.title"/>

    <title>
      ClinicDash - Dashboard
    </title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/crossfilter.min.js') }}"></script>
    <script type="text/javascript" src="https://unpkg.com/dc@3.0.4/dc.js"></script>

    <script async type="text/javascript" src="{{ url_for('static', filename='js/bigDash.js') }}"></script>
    <script async type="text/javascript" src="{{ url_for('static', filename='js/addviewpatients.js') }}"></script>
    <script async type="text/javascript" src="{{ url_for('static', filename='js/helperFunctions.js') }}"></script>
    <script async type="text/javascript" src="{{ url_for('static', filename='js/mainDash.js') }}"></script>


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/dc@3.0.4/dc.css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Rozha+One|Crimson+Text" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.3.2/holder.min.js" type="text/javascript"></script>
    <script>
      Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
    </script>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/keen-dash.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home2.css')}}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bigDash2.css')}}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/addviewpatients.css')}}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/mainDash2.css')}}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/search.css')}}" media="screen" />
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
  </head>

  <body>
    <div class="header transHeader">
      <div class="title">
        <div><a class="titleLink" href="http://clinicdash.com">Clinic<span id="dashLogo">Dash</span></a></div>
        <div class="subtitle">Practice made perfect</div>
      </div>
      <div class="searchyBox">
        <span class="material-icons">search</span>
        <input id="txt_SearchyBox" type="text" />
        <div class="filterHolder"></div>
      </div>
      <ul class="menuLinks">
        <li class="shelfLink" data="newPatient">
          Patients
        </li>
        <li class="shelfLink" data="mainDash">
          Practice
        </li>
        <li class="shelfLink" data="market">
          Market
        </li>
      </ul>
      <div class="profiler">        
        <i class="material-icons">account_circle</i>
        <div class="dropdown-content">
          <span>Settings</span>
          <span id="logoutBtn">Logout</span>
        </div>
      </div>
    </div>
    <div class="mainBox">
    </div>
    <div class="logoutAlert">
      <h1>Still using ClinicDash?</h1>
      <p id="logoutTimerDisplay">Logging out in <span id="timerDispayNum">30</span> seconds.</p>
      <div class="buttonBox">
        <button id="logoutUsing">
          I'm Still Here!
        </button>
        <button id="logoutDone">
          Logout
        </button>
      </div>
    </div>
  </body>
</html>